<!-- Barre de navigation -->
<mat-toolbar>
    <button mat-icon-button (click)="navigateHome()"><mat-icon>home</mat-icon></button>
    @if(loginService.user()){
        <p>Welcome {{loginService.user()?.firstname}} {{loginService.user()?.lastname}}</p>
        <button mat-flat-button color = "warn" (click)="logout()">Logout</button>
    }
    @else{
        <p>Welcome stranger</p>
        <button mat-flat-button color = "warn" (click)="navigateToLogin()">Login</button>
    }
</mat-toolbar>


<!-- Appel au component qui a la route "home"-->
<router-outlet></router-outlet>


































<!-- <app-searchbar
 (searchButtonClicked)="increaseCount()" [(search)]="search"/> -->

 <!-- Cette annotation [(search)]="search" est un raccourcis de ces deux-ci:
 (searchChange)="search = $event"
 [search]="search" -->

 <!-- Search: {{search}}
 <br>
Click-count :{{count}} -->

<!-- <button (click)="toggleMonster()">Toggle Monster</button> -->


<!-- <div id="card-list"> -->
    <!-- <h3>Toggled card</h3> -->
    <!-- Sans signal -->
        <!-- <app-playing-card [monster]="monsters[selectedMonsterIndex()]"/> -->
    <!-- Avec signal -->
    <!-- <app-playing-card [monster]="selectedMonster()"/> -->
<!-- 
    <h3>Filtered monsters</h3>

    @for (monster of filteredMonsters(); track monster; let i = $index){
        <div>Index {{i}}</div>
        <app-playing-card [monster]="monster"/>
    } -->

    <!-- <app-playing-card *ngFor="let monster of filteredMonsters()" [monster] = "monster"/>    -->

     <!-- <h3>All cards</h3> -->
    <!-- <app-playing-card *ngFor="let monster of monsters" [monster] = "monster"/> -->

    <!-- <app-playing-card />
    <app-playing-card [monster]="monster1"/>
    <app-playing-card [monster]="monster2"/> -->
<!-- </div> -->

<!-- @if(filteredMonsters().length == 0){
    <div class =" center">No monsters found</div>
}@else {
    <div class="center">Found {{filteredMonsters().length}} monsters.</div>
}
<div class = "center">
    <button (click)="addMonster()">Add Default Monster</button>
</div> -->

<!-- *ngIf -->

<!-- <div class="center" *ngIf="filteredMonsters().length == 0; then notFound else found">
    
</div>
<ng-template #notFound>
    <div class =" center">No monsters found</div>
</ng-template>

<ng-template #found>
    <div class="center">Found {{filteredMonsters().length}} monsters.</div>
</ng-template> -->
