<!-- Testing
 @if(monsterId()){
    <p>monster {{monsterId()}}</p>

    <button (click)="nextMonster()">Next monster</button>

}@else{
    <p>monster works!</p>
}
 -->

<!-- FormControl -->
<!-- <form (submit)="submit($event)">
    <div class="form-field">
        <label for="name">Name</label>
        <input id ="name" type="text" name = "name" [formControl]="name"/>
        @if(name.invalid && (name.dirty || name.touched)){
            <div class = "error">This field is required</div>
        }
    </div>
    <div class="form-field">
        <label for="hp">HP</label>
        <input id ="hp" type="number" name = "hp" [formControl]="hp"/>
        @if(hp.invalid && (hp.dirty || hp.touched)){
            <div class = "error">This field is required</div>
        }
    </div>
    <button type="submit"[disabled]="name.invalid || hp.invalid">Save</button>
    <button (click)="setChanged()">Set changed</button>
</form> -->


<div class="preview">
    <app-playing-card [monster]="monster"/>
</div>
<div class="main">
    <!-- FormGroup / form Builder-->

<form [formGroup]="formGroup" (submit)="submit($event)">
    <mat-form-field>
        <mat-label for="name">Name</mat-label>
        <input matInput id ="name" type="text" name = "name" formControlName ="name"/>
        @if(isFieldValid('name')){
            <mat-error>This field is required</mat-error>
        }
    </mat-form-field>
    <div class ="form-field">
        <!-- <mat-label for="image">Image</mat-label> -->
         <button  mat-raised-button type="button" (click)="imageInput.click()">
            Upload file {{ imageInput.files?.[0]?.name || '...'}}
        </button>
        <input hidden #imageInput id ="image" type="file" name = "image" (change)="onFileChange($event)"/>
        @if(isFieldValid('image')){
            <!--  -->
            @if (formGroup.get('hp')?.hasError('required')){
                <mat-error>This field is required</mat-error>
            }
            @if (formGroup.get('hp')?.hasError('min') || formGroup.get('hp')?.hasError('max')){
                <mat-error>The value must be between 0 and 200</mat-error>
            }
        }
    </div>
    <mat-form-field>
        <mat-label for="type">Type</mat-label>
        <mat-select id ="type" type="text" name = "type" formControlName ="type">
            @for (type of monsterTypes; track type) {
                <mat-option [value]="type">{{type}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label for="hp">HP</mat-label>
        <input matInput id ="hp" type="number" name = "hp" formControlName ="hp" min ="formGroup.get('hp')?.min"/>
        @if(isFieldValid('hp')){
            <mat-error>This field is required</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label for="figureCaption">Figure Caption</mat-label>
        <input matInput id ="figureCaption" type="text" name = "figureCaption" formControlName ="figureCaption"/>
        @if(isFieldValid('figureCaption')){
            <mat-error>This field is required</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label for="attackName">Attack Name</mat-label>
        <input matInput id ="attackName" type="text" name = "attackName" formControlName ="attackName"/>
        @if(isFieldValid('attackName')){
            <mat-error>This field is required</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label for="attackStrength">Attack Strength</mat-label>
        <input matInput id ="attackStrength" type="number" name = "attackStrength" formControlName ="attackStrength" min ="formGroup.get('attackStrength')?.min"/>
        @if(isFieldValid('attackStrength')){
            <mat-error>This field is required</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label for="attackDescription">Attack Description</mat-label>
        <input matInput id ="attackDescription" type="text" name = "attackDescription" formControlName ="attackDescription"/>
        @if(isFieldValid('attackDescription')){
            <mat-error>This field is required</mat-error>
        }
    </mat-form-field>
    <div class="button-container left">
        <button  mat-flat-button color="warn" type ="button" (click)="deleteMonster()">Delete</button>
    </div>
    <div class="button-container right">
        <button  mat-button (click)="navigateBack()">Back</button>
        <button  mat-flat-button type="submit"[disabled]="formGroup.invalid"> Save </button>
    </div>
</form> 
</div>



