<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <div class="name">My monster</div>
            </div>
            <div class="right">
                <div id="hp">40 HP</div>
                <img [src]="imageUrl" alt="energy icon" class="energy icon">
            </div>
        </header>
        <figure id="art">
            <img src="/img/cards/pikachu.png" alt="pokemon image">
            <figcaption>N°025 Monster</figcaption>
        </figure>
        <div id="capacities">
            <div class = "capacity">
                <div class="main">
                    <div class="cost">
                        <img [src]="imageUrl" alt="energyIcon" class="energy icon">
                        <img [src]="imageUrl" alt="energyIcon" class="energy icon">
                    </div>
                    <div class="name">Geoimpact</div>
                    <div class="damage">60</div>
                </div>
            </div>
            <div class="description"></div>
        </div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia fugiat libero eveniet eos sit alias.
    </div>
</div>
